<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.wow_guau">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_paw"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_paw"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ActividadRegistroUsuario"></activity>
        <activity
            android:name=".ActivityCrearCaminata"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActividadSolicitudCaminataExitosa"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".update_my_info"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Password_recovery"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActividadPerfilPaseador"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Signup_dog"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Signup_walker"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActividadMonitorearMascota"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActividadSeleccionMascota"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActividadComentariosPaseador"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActividadSolicitudPaseador"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActividadSolicitudCaminata"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActividadListaCaminatas"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActividadBusquedaPaseadores"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActividadPantallaInicioPaseador"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActividadPantallaInicioDueno"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Login"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

</manifest>