<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.wow_guau">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_paw"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_paw"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".views.DetalleMascotaActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.ListaRazasActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.ActualizarMascotaActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.ListaMascotasActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.Signup_owner"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.ActividadRegistroUsuario"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.ActivityCrearCaminata"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.ActividadSolicitudCaminataExitosa"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.update_my_info"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.Password_recovery"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.ActividadPerfilPaseador"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.Signup_dog"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.Signup_walker"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.ActividadMonitorearMascota"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.ActividadSeleccionMascota"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.ActividadComentariosPaseador"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.ActividadSolicitudPaseador"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.ActividadSolicitudCaminata"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.ActividadBusquedaPaseos"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.ActividadBusquedaPaseadores"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.ActividadPantallaInicioPaseador"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.ActividadPantallaInicioDueno"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.Login"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>